name: Linux

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [g++-15, clang++-21]
        configuration: [Debug, Release]
    steps:
    - uses: actions/checkout@v4

    - name: install recent LLVM
      if: startsWith(matrix.compiler, 'clang++-')
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh ${{ endsWith(matrix.compiler, '21') && 21 }}

    - name: install dependencies
      run: |
        sudo apt update
        sudo apt install -y cmake ninja-build ${{ startsWith(matrix.compiler, 'g++') && matrix.compiler || '' }}

    - name: configure
      run: CXX=${{ matrix.compiler }} cmake -Werror=dev -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DENABLE_TESTS="unit;functional" -DCMAKE_COMPILE_WARNING_AS_ERROR=1 -DCMAKE_UNITY_BUILD=ON -DCMAKE_UNITY_BUILD_BATCH_SIZE=4 -G Ninja -B build

    - name: build source
      run: cmake --build build --target Osiris -j $(nproc)

    - name: build unit tests
      run: cmake --build build --target UnitTests -j $(nproc)

    - name: build functional tests
      run: cmake --build build --target FunctionalTests -j $(nproc)

    - name: prepare artifacts
      run: |
        cfg="${{ matrix.configuration }}"
        cc="${{ matrix.compiler }}"
        mkdir -p "artifacts/$cfg-$cc"
        cp build/libOsiris.so "artifacts/$cfg-$cc/" 2>/dev/null || true
    - name: upload to Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v2
      with:
        files: artifacts/**/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
